@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}
#nprogress .bar {
  background: #ffffff; /* Your theme purple */
  height: 3px;
}

#nprogress .peg {
  box-shadow: 0 0 10px #000000, 0 0 5px #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}


body {
  background: #000000;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
}

/* Hide scrollbar for WebKit browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none;
}

/* Optional: for IE and Edge Legacy */
body {
  -ms-overflow-style: none;
}

